<template>
  <div>
    <section id="about">
      <div class="about-container">
        <div class="about-1">
          <h1>Why choose us</h1>
          <div class="content flex items-center">
            <div class="left">
              <img src="../../assets/images/Group.png" alt="" />
            </div>
            <div class="right">
              <div>
                <div class="flex items-center">
                  <img src="../../assets/images/square1.png" alt="" />
                  <h2>Vision</h2>
                </div>
                <p>
                  Technology-Centric, User-Focused: With technology as our
                  backbone and users as our core, we envision a future where
                  unparalleled experiences and value creation define our
                  service. Our commitment lies in offering top-notch service
                  while prioritizing user needs and expectations.
                </p>
              </div>
              <div>
                <div class="flex items-center">
                  <img src="../../assets/images/square2.png" alt="" />
                  <h2>Mission</h2>
                </div>
                <p>
                  Pioneering Decentralized Empowerment: Our mission is to
                  establish a novel decentralized social network that champions
                  user freedom, privacy, safety, and intrinsic value. This
                  endeavor seeks to set a new benchmark in social networking,
                  emphasizing user-centricity and empowerment.
                </p>
              </div>
              <div>
                <div class="flex items-center">
                  <img src="../../assets/images/square3.png" alt="" />
                  <h2>Goal</h2>
                </div>
                <p>
                  A Decentralized Milestone: By 2027, our aspiration for
                  Ucon.Social transcends boundaries—we aim to host over 300
                  million users and aspire to be listed on the prestigious US
                  Nasdaq stock exchange. This milestone underscores our
                  commitment to growth, innovation, and global recognition.
                </p>
              </div>
              <div class="circle-background">
                <img src="../../assets/images/circle3.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="about-2 flex items-center">
          <div class="left flex flex-col">
            <h1>Ucon trade mining</h1>
            <p>
              Ucon provide a comprehensive Mining package that equips users with
              the tools and resources to  maximize their investment in mining
              operations. Ucon ensures efficient and profitable mining
              processes.
            </p>
            <button>SMART CONTRACT</button>
          </div>
          <div class="right">
            <h1>
              UCON BRAND <br />
              storytelling
            </h1>
            <img src="../../assets/images/rocket.png" alt="" />
            <img src="../../assets/images/circle4.png" alt="" />
          </div>
        </div>
        <div class="about-3 flex">
          <div class="left">
            <h1>
              UCON BRAND <br />
              storytelling
            </h1>
            <img src="../../assets/images/iphone.png" alt="" />
          </div>
          <div class="right">
            <h1>
              Ucon socialfi <br />
              ecosysterm
            </h1>
            <div>
              <p>
                Experience a revitalizing sense of being reborn in a fairer and
                more valuable Ucons social environment
              </p>
              <div class="flex items-start">
                <img src="../../assets/images/tick.png" alt="" />
                <p>
                  Communities: Communities can utilize blockchain to join Ucon
                  socialFi, Trade Mining Programs, Referral that fits your need
                </p>
              </div>
              <div class="flex items-start">
                <img src="../../assets/images/tick.png" alt="" />
                <p>
                  Creators: Creators launch their content on the protocol by
                  offering promotional rights through UCON socialfi platform,
                  where co- publishers can earn revenue base on their
                  contributions.
                </p>
              </div>
              <div class="flex items-start">
                <img src="../../assets/images/tick.png" alt="" />
                <p>
                  Traders/investors: Traders/ investors take part the unique and
                  all in one lucrative UCON TRADE MINING concept.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-background">
        <img src="../../assets/images/vector.png" alt="" />
      </div>
    </section>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped>
#about {
  max-width: 100%;
  margin-top: -9.12rem;
  position: relative;
  h1 {
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #69eacb 0%, #eaccf8 48%, #6654f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  p {
    font-size: 1.125rem;
    color: #fff;
    font-weight: 300;
    padding-top: 1.88rem;
  }

  .about-container {
    max-width: 90%;
    margin: 0 auto;
    .about-1 {
      .content {
        margin-left: -5rem;
        gap: 5rem;
        .left {
          width: 100%;
        }

        .right {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          h2 {
            font-size: 1.5rem;
            color: #fff;
            font-weight: 500;
          }

          div {
            gap: 0.82rem;
          }

          .circle-background {
            img {
              position: absolute;
              right: 0;
              bottom: 43%;
              z-index: -99999;
            }
          }
        }
      }
    }

    .about-2 {
      .left {
        width: 60%;
        h1 {
          text-align: left;
        }

        button {
          color: #fff;
          font-size: 1.125rem;
          font-weight: 500;
          margin-top: 1.87rem;
          width: 17.1875rem;
          height: 3.3125rem;
          border-radius: 4.5rem;
          border: 1px solid #fff;
          box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
          text-transform: uppercase;
          transition: ease 0.2s;
        }

        button:hover {
          background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
          border: none;
        }
      }

      .right {
        h1 {
          display: none;
        }
        img {
          margin-top: -5rem;
        }
        img:nth-child(3) {
          position: absolute;
          right: 4rem;
          top: 35%;
          z-index: -99999;
        }
      }
    }

    .about-3 {
      width: 90%;
      .left {
        h1 {
          display: none;
        }
        width: 100%;

        img {
          padding-left: 7rem;
        }
      }
      .right {
        h1 {
          text-align: left;
        }

        div {
          gap: 0.8rem;

          img {
            padding-top: 2rem;
          }
        }
      }
    }
  }

  .about-background {
    position: absolute;
    top: -35rem;
    z-index: -999;
  }

  @media (max-width: 1199px) {
    h1 {
      font-size: 2.8rem !important;
    }
    .about-container {
      .about-2 {
        // margin-top: -12rem;
      }

      .about-3 {
        .left {
          img {
            padding: 0;
          }
        }
      }
    }
  }

  @media (max-width: 1025px) {
    margin-top: 0;

    .about-container {
      .about-1 {
        .content {
          flex-direction: column;
          margin-left: unset;
          margin-top: 2rem;
          gap: 2rem;
          .left {
            width: 60%;
          }
        }
      }
      .about-2 {
        margin-top: 0;

        .right {
          img {
            margin-top: 0;
          }
        }
      }

      .about-3 {
        width: 100%;
      }
    }
  }

  @media (max-width: 990px) {
    margin-top: 3rem;
    h1 {
      font-size: 1.625rem !important;
    }

    h2 {
      font-size: 1.25rem !important;
    }

    p {
      font-size: 0.875rem;
    }
    .about-container {
      .about-1 {
        .content {
          flex-direction: column;
          margin-left: unset;
          gap: 2rem;
          .left {
            display: flex;
            justify-content: center;
            margin-top: 2.69rem;
          }

          .right {
            .circle-background {
              img {
                bottom: 50%;
              }
            }
          }
        }
      }

      .about-2 {
        margin-top: 3rem;
        flex-direction: column-reverse;

        .left {
          width: 100%;
          margin-top: -6rem;
          align-items: center;
          h1 {
            display: none;
          }
        }

        .right {
          width: 70%;
          h1 {
            display: block;
          }



          img:nth-child(3) {
            right: 5rem;
            top: 45%;
          }
        }
      }

      .about-3 {
        width: 100%;
        flex-direction: column;
        margin-top: 3rem;
        .left {
          width: 70%;
          margin: 0 auto;
          h1 {
            display: block;
          }

          img {
            padding-top: 1rem;
            padding-left: 8rem;
          }
        }
        .right {
          h1 {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    h1 {
      font-size: 1.625rem !important;
    }

    p {
      font-size: 0.875rem;
    }
    .about-container {
      .about-1 {
        .left {
          width: 80% !important;
          margin-top: unset;
        }
      }
      .about-2 {
        .left {
          p {
            padding-top: 4.88rem;
          }
        }
        .right {
          img:nth-child(3) {
            right: 0;
            top: 48%;
          }
        }
      }

      .about-3 {
        .left {
          width: 100%;
          img {
            padding-left: 7rem;
          }
        }
      }
    }
  }

  @media (max-width: 321px) {
    .about-container {
      .about-3 {
        .left {
          img {
            padding-left: 4rem !important;
          }
        }
      }
    }
  }
}
</style>
