<template>
  <div>
    <section id="coreteam">
      <div class="coreteam-container">
        <h1>Core team</h1>
        <swiper
          :modules="modules"
          :slides-per-view="swiperOptions.slidesPerView"
          :space-between="swiperOptions.spaceBetween"
          :autoplay="{
            delay: 2500,
            disableOnInteraction: false,
          }"
          :breakpoints="swiperOptions.breakpoints"
          class="text-center mt-[4.12rem]"
        >
          <swiper-slide class="flex flex-col items-center gap-[1.06rem]">
            <img src="../../assets/images/alex.png" alt="" />
            <h2>Alex Nguyen</h2>
            <h3>CEO</h3>
            <p class="w-[75%]">
              James seasoned technology executive with a dynamic career spanning
              over 10 years. I have been at the forefront of driving innovation,
              spearheading transformative initiatives, and steering companies
              towards unparalleled success in the fast-paced realm of
              technology.
            </p>
          </swiper-slide>
          <swiper-slide class="flex flex-col items-center gap-[1.06rem]">
            <img src="../../assets/images/kyo.png" alt="" />
            <h2>Kyo Nguyen</h2>
            <h3>CTO</h3>
            <p class="w-[75%]">
              As a seasoned Chief Technology Officer (CTO) with a decade-long
              immersion in the dynamic landscape of technology, I bring a wealth
              of expertise and a proven track record of driving innovation and
              technical excellence.
            </p>
          </swiper-slide>
          <swiper-slide class="flex flex-col items-center gap-[1.06rem]">
            <img src="../../assets/images/david.png" alt="" />
            <h2>David Hoang</h2>
            <h3>CMO</h3>
            <p class="w-[75%]">
              Chief Marketing Officer (CMO) with over 5 years of specialized
              experience in the Blockchain and Voice of International
              Transportation (VOI) industries. With an innovative spirit and
              unwavering motivation, I constantly seek opportunities to apply
              cutting-edge marketing methods and build community interaction
              strategies to optimize business performance.
            </p>
          </swiper-slide>
          <swiper-slide class="flex flex-col items-center gap-[1.06rem]">
            <img src="../../assets/images/henry.png" alt="" />
            <h2>Henry Nguyen</h2>
            <h3>CBO</h3>
            <p class="w-[75%]">
              Chief Business Officer (CBO) for the past 8 years. My career has
              been marked by a relentless commitment to driving innovation,
              strategic partnerships, and revenue expansion within the
              ever-evolving landscape of the technology sector.
            </p>
          </swiper-slide>
          <swiper-slide class="flex flex-col items-center gap-[1.06rem]">
            <img src="../../assets/images/kenny.png" alt="" />
            <h2>Kenny Hoang</h2>
            <h3>Advisor</h3>
            <p class="w-[75%]">
              A business advisor with over a decade of experience in shaping and
              supporting business growth. With a deep passion and extensive
              knowledge in this field, I have assisted numerous organizations in
              overcoming challenges and achieving sustainable success.
            </p>
          </swiper-slide>
          <swiper-slide class="flex flex-col items-center gap-[1.06rem]">
            <img src="../../assets/images/alex.png" alt="" />
            <h2>Alex Nguyen</h2>
            <h3>CEO</h3>
            <p class="w-[75%]">
              James seasoned technology executive with a dynamic career spanning
              over 10 years. I have been at the forefront of driving innovation,
              spearheading transformative initiatives, and steering companies
              towards unparalleled success in the fast-paced realm of
              technology.
            </p>
          </swiper-slide>
        </swiper>
      </div>
      <div class="coreteam-bg1">
        <img src="../../assets/images/circle8.png" alt="" />
      </div>
      <div class="coreteam-bg2">
        <img src="../../assets/images/circle7.png" alt="" />
      </div>
    </section>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import { Autoplay } from "swiper/modules";
import "swiper/css";
import "swiper/css/autoplay";

const modules = [Autoplay];

const swiperOptions = ref({
  // Common options
  slidesPerView: 3,
  spaceBetween: 50,
  // Breakpoints
  breakpoints: {
    // When window width is >= 768px
    990: {
      slidesPerView: 3,
      spaceBetween: 30,
    },

    319: {
      slidesPerView: 1,
      spaceBetween: 30,
    },
    // When window width is >= 1024px
  },
});
</script>

<style lang="scss" scoped>
#coreteam {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 5.65rem;
  position: relative;

  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #69eacb 0%, #eaccf8 48%, #6654f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
  }

  h3 {
    color: #b625f9;
    font-size: 1.25rem;
    font-weight: 500;
  }

  p {
    color: #dcdcdc;
    font-size: 1.125rem;
    font-weight: 300;
  }

  .coreteam-bg1 {
    position: absolute;
    top: 10rem;
  }

  .coreteam-bg2 {
    position: absolute;
    right: 0;
    top: -5rem;
  }

  @media (max-width: 990px) {
    .coreteam-container {
      h1, h2 {
        font-size: 1.875rem;
      }

      p {
        font-size: 0.875rem;
      }
    }
  }
}
</style>
