<template>
  <div>
    <section id="ecosystem">
      <div class="eco-container flex flex-col items-center">
        <h1>Ecosystem</h1>
        <img src="../../assets/images/bubble.png" alt="" />
      </div>
    </section>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped>
#ecosystem {
  margin-top: 4.33rem;
  max-width: 100%;
  .eco-container {
    background-image: url("../../assets/images/ecobg.png");
    background-repeat: no-repeat;
    background-position-y: 15%;
    h1 {
      font-size: 3.75rem;
      font-weight: 700;
      letter-spacing: 0.1875rem;
      text-transform: uppercase;
      background: linear-gradient(90deg, #69eacb 0%, #eaccf8 48%, #6654f1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
    }
  }

  @media (max-width: 990px) {
    h1 {
      font-size: 1.875rem !important;
    }

    img {
      width: 90%;
    }
  }
}
</style>
