<template>
  <div>
    <section id="home">
      <div class="home-container flex gap-[9rem]">
        <div class="left text-white flex flex-col gap-[1.5rem]">
          <div class="flex items-center">
            <h1>ABOUT THE PROTOCOL</h1>
            <img src="../../assets/images/Star.png" alt="" />
          </div>
          <p>
            Ucon.social has emerged as a revolutionary force in the field of
            social networking, aiming to define the way users interact through a
            decentralized, secure, and rewarding platform with unique trade
            mining mechanism
          </p>
          <button>Learn more</button>
        </div>
        <div class="right">
          <h1>ABSTRACT OF UCON</h1>
          <div class="flex flex-col items-center">
            <img class="cointop" src="../../assets/images/cointop.png" alt="" />
            <img
              class="phone"
              src="../../assets/images/home-banner.png"
              alt=""
            />
          </div>
          <img class="coindown" src="../../assets/images/coindown.png" alt="" />

          <img
            class="coindown-mobile"
            src="../../assets/images/coindown-mobile.png"
            alt=""
          />
        </div>
      </div>
      <div class="scroll flex flex-col-reverse items-center gap-[0.62rem]">
        <p class="text-[#fff]">Scroll down</p>
        <span></span>
      </div>
      <div class="home-background">
        <img src="../../assets/images/Subtract.png" alt="" />
      </div>
      <div class="circlebg1">
        <img src="../../assets/images/circle8.png" alt="" />
      </div>
      <div class="circlebg2">
        <img src="../../assets/images/circle7.png" alt="" />
      </div>
    </section>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped>
#home {
  // margin-top: 11.435rem;
  position: relative;
  .home-container {
    max-width: 90%;
    margin: 0 auto;
    h1 {
      font-size: 3.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.1875rem;
      background: linear-gradient(90deg, #69eacb 0%, #eaccf8 48%, #6654f1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .left {
      width: 50%;
      margin-top: 20.75rem;
      div {
        gap: 1.19rem;
      }

      p {
        display: flex;
        align-items: flex-start;
        gap: 0.8rem;

        img {
          padding-top: 5px;
        }
      }

      button {
        width: 17.1875rem;
        height: 3.3125rem;
        border-radius: 4.5rem;
        border: 1px solid var(--text-1, #fff);
        box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
        text-transform: uppercase;
        transition: ease 0.2s;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      button:hover {
        background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
        border: none;
      }

      p {
        color: #fff;
        font-size: 1.125rem;
        font-weight: 300;
      }
    }

    .right {
      h1 {
        display: none;
      }

      .cointop {
        padding-right: 8rem;
        padding-top: 4rem;
      }

      .coindown {
        position: absolute;
        right: 0;
        top: 35rem;
      }
      .coindown-mobile {
        display: none;
      }

      .phone {
        animation-name: updown;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @keyframes updown {
          0% {
            transform: translate(0px, 0px);
          }

          50% {
            transform: translate(0px, 20px);
          }

          100% {
            transform: translate(0px, 0px);
          }
        }
      }
    }
  }

  .scroll {
    position: absolute;
    bottom: 28%;
    right: 50%;

    span {
      display: block;
      width: 1.9375rem;
      height: 3.25rem;
      border: 1px solid #fff;
      border-radius: 40%;

      &:before {
        content: "";
        display: block;
        width: 2px;
        height: 0.7rem;
        background: #fff;
        position: absolute;
        right: 2.85rem;
        bottom: 4rem;
        animation-name: updown;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @keyframes updown {
          0% {
            transform: translate(0px, 0px);
          }

          50% {
            transform: translate(0px, 20px);
          }

          100% {
            transform: translate(0px, 0px);
          }
        }
      }
    }
  }

  .home-background {
    position: absolute;
    top: 0;
    z-index: -999;
  }

  .circlebg1,
  .circlebg2 {
    position: absolute;
    z-index: -999;
  }

  .circlebg1 {
    top: -6rem;
  }
  .circlebg2 {
    top: -20rem;
    right: 0;
  }

  @media (max-width: 1440px) {
    .left {
      h1 {
        font-size: 2.8rem !important;
      }
    }

    .phone {
      right: 0;
    }
  }

  @media (max-width: 1199px) {
    .left {
      margin-top: 15.75rem !important;
      h1 {
        font-size: 2.2rem !important;
      }
    }

    .right {
      .cointop {
        right: 17rem;
      }
      .coindown {
        width: 13%;
        bottom: -19rem;
      }
    }

    .home-background {
      top: 6rem;
    }
  }

  @media (max-width: 1025px) {
    .scroll {
      bottom: 13%;
    }
  }

  @media (max-width: 990px) {
    .home-container {
      display: flex;
      flex-direction: column-reverse;

      .left {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: -18rem !important;
        h1,
        img {
          display: none;
        }
        p {
          font-size: 0.875rem;
        }
      }

      .right {
        margin-top: 10rem;
        h1 {
          display: block;
          text-align: center;
          font-size: 1.625rem;
        }

        div {
          flex-direction: row;
          justify-content: center;
        }

        .cointop {
          position: absolute;
          top: 25%;
          left: 8%;
        }
        .phone {
          width: 55%;
          right: 13rem;
          top: 10rem;
        }

        .coindown-mobile {
          display: block;
          position: absolute;
          right: 7%;
          top: 60%;
          width: 14%;
        }

        .coindown {
          display: none;
        }
      }
    }

    .scroll {
      display: none;
    }
    .home-background {
      top: 14rem;
    }
  }

  @media (max-width: 480px) {
    .home-container {
      p {
        font-size: 0.875rem !important;
      }
      .left {
        margin-top: -15rem !important;
      }
      .right {
        h1 {
          font-size: 1.625rem;
        }
        .cointop {
          width: 40%;
          top: 19%;
          left: 5%;
        }
        .phone {
          width: 70%;
        }
        .coindown-mobile {
          width: 20%;
          right: 0;
          top: 56%;
        }
      }
    }
  }

  @media (max-width: 414px) {
    .home-container {
      .right {
        .cointop {
          width: 47%;
        }
      }
    }
  }
}
</style>
