<template>
  <div>
    <section id="market">
      <div class="market-container">
        <div class="market-1 flex justify-between">
          <div class="left">
            <h1>UCON token</h1>
            <p>
              The total supply is 21,000,000,000 tokens (21 billion coins).
              Allocation of these tokens is as follows:
            </p>
            <p>
              65% for s: This portion is designated for the mining pool nodes to
              encourage decentralized mining.
            </p>
            <div class="flex items-center">
              <img src="../../assets/images/tick.png" alt="" />
              <p>
                10% for Planned Sales: A 10% allocation is reserved for
                strategic and planned sales of the token.
              </p>
            </div>
            <div class="flex items-center">
              <img src="../../assets/images/tick.png" alt="" />
              <p>
                5% for Community Rewards and Commissions: A percentage is set
                aside to reward and commission the community for their
                participation.
              </p>
            </div>
            <div class="flex items-center">
              <img src="../../assets/images/tick.png" alt="" />
              <p>
                5% for Coin Listing: This portion is dedicated to covering the
                costs associated with listing the coin on various platforms.
              </p>
            </div>
            <div class="flex items-center">
              <img src="../../assets/images/tick.png" alt="" />
              <p>
                5% for Media, Training, and Marketing: Funding for media
                campaigns, educational initiatives, and marketing efforts to
                promote the token.
              </p>
            </div>
            <div class="flex items-center">
              <img src="../../assets/images/tick.png" alt="" />
              <p>
                3% for Airdrops, Bounties, and Community Tasks: A portion of the
                tokens is allocated for airdrops, bounty programs, and community
                tasks to engage and reward the community.
              </p>
            </div>
            <div class="flex items-center">
              <img src="../../assets/images/tick.png" alt="" />
              <p>
                2% for Advisory Team and Collaborative Partners: This percentage
                is reserved for compensating advisory teams and collaborating
                partners who contribute to the project's success.
              </p>
            </div>
            <div class="flex items-center">
              <img src="../../assets/images/tick.png" alt="" />
              <p>
                5% for Development Team and Administration: The final 5% is
                allocated to the development team and administrative functions
                to support ongoing project development and management.
              </p>
            </div>
          </div>
          <div class="right">
            <h1>UCON token</h1>
            <img src="../../assets/images/market.png" alt="" />
          </div>
        </div>
        <div class="market-2 flex items-center">
          <div class="left">
            <img src="../../assets/images/arrow.png" alt="" />
          </div>
          <div class="right">
            <p>A Transaction fee of 1.2% is applied below:</p>
            <p>
              65% for s: This portion is designated for the mining pool nodes to
              encourage decentralized mining.
            </p>
            <div class="flex items-center just">
              <img src="../../assets/images/tick.png" alt="" />
              <p>0.5% transferred to the Burning Pool</p>
            </div>
            <div class="flex items-center just">
              <img src="../../assets/images/tick.png" alt="" />
              <p>0.5% distributed to wallet holders</p>
            </div>
            <div class="flex items-center just">
              <img src="../../assets/images/tick.png" alt="" />
              <p>0.2% charitable fund:</p>
            </div>
            <div class="flex items-center just">
              <img src="../../assets/images/tick.png" alt="" />
              <p>10% sponsor lighting projects</p>
            </div>
            <div class="flex items-center just">
              <img src="../../assets/images/tick.png" alt="" />
              <p>10% build bridges</p>
            </div>
            <div class="flex items-center just">
              <img src="../../assets/images/tick.png" alt="" />
              <p>10% construct schools</p>
            </div>
            <div class="flex items-center just">
              <img src="../../assets/images/tick.png" alt="" />
              <p>50% contribute to the Heart Surgery Fund.</p>
            </div>
          </div>
        </div>
        <div class="cirlce-background1">
          <img src="../../assets/images/circle5.png" alt="" />
        </div>
        <div class="circle-background2">
          <img src="../../assets/images/circle6.png" alt="" />
        </div>
      </div>
    </section>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped>
#market {
  max-width: 100%;
  margin-top: 9rem;
  position: relative;
  h1 {
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #69eacb 0%, #eaccf8 48%, #6654f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 1.125rem;
    color: #fff;
    font-weight: 300;
    padding-top: 1.88rem;
  }

  .cirlce-background1 {
    position: absolute;
    z-index: -9999999;
    left: 0;
    top: 3rem;
  }

  .circle-background2 {
    position: absolute;
    z-index: -9999999;
    top: -25rem;
    right: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .market-container {
    max-width: 90%;
    margin: 0 auto;
    .market-1 {
      position: relative;
      gap: 2.5rem;
      .left {
        width: 45%;
        div {
          gap: 1rem;
          width: 98%;
        }
      }

      .right {
        h1 {
          display: none;
        }
      }
    }

    .market-2 {
      width: 100%;
      margin: 0 auto;
      margin-top: 6rem;
      padding: 3.13rem 2.12rem;
      border-radius: 0.5625rem;
      background: rgba(0, 0, 0, 0.45);
      backdrop-filter: blur(12.449999809265137px);

      .right {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-left: 5.69rem;
        p {
          max-width: 85%;
          padding: 0;
        }
        div {
          gap: 0.47rem;
          p {
            padding-top: 0;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .market-container {
      .market-1 {
        flex-direction: column-reverse;

        .left {
          h1 {
            display: none;
          }
          width: 100%;
        }

        .right {
          h1 {
            display: block;
          }
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }

      .market-2 {
        flex-direction: column;
      }
    }
  }

  @media (max-width: 990px) {

    margin-top: 3rem;
    h1 {
      font-size: 1.875rem;
    }

    p {
      font-size: 0.875rem;
    }
    .market-1 {
      .right {
        width: 70% !important;
        margin: 0 auto;
      }
    }
    .market-2 {
      margin-top: 3rem !important;
      .right {
        margin-left: unset !important;
        margin-top: 1.69rem;
      }
    }
  }

  @media (max-width: 575px) {
    h1 {
      font-size: 1.875rem;
    }

    p {
      font-size: 0.875rem;
    }

    .market-1 {
      .right {
        width: 100% !important;
        img {
          width: 90%;
        }
      }
    }

    .market-2 {
      .right {
        p {
          max-width: 100% !important;
        }
      }
    }
  }
}
</style>
