<template>
  <div>
    <section id="media">
      <div class="media-container flex flex-col items-center gap-[5.94rem]">
        <h1>Media partners</h1>
        <div class="flex flex-wrap justify-between gap-[8rem]">
          <img src="../../assets/images/media/media1.png" alt="" />
          <img src="../../assets/images/media/media2.png" alt="" />
          <img src="../../assets/images/media/media3.png" alt="" />
          <img src="../../assets/images/media/media4.png" alt="" />
          <img src="../../assets/images/media/media5.png" alt="" />
          <img src="../../assets/images/media/media6.png" alt="" />
          <img src="../../assets/images/media/media7.png" alt="" />
          <img src="../../assets/images/media/media8.png" alt="" />
          <img src="../../assets/images/media/media9.png" alt="" />
          <img src="../../assets/images/media/media10.png" alt="" />
          <img src="../../assets/images/media/media11.png" alt="" />
          <img src="../../assets/images/media/media12.png" alt="" />
          <img src="../../assets/images/media/media13.png" alt="" />
          <img src="../../assets/images/media/media14.png" alt="" />
          <img src="../../assets/images/media/media15.png" alt="" />
          <img src="../../assets/images/media/media16.png" alt="" />
          <img src="../../assets/images/media/media17.png" alt="" />
          <img src="../../assets/images/media/media18.png" alt="" />
        </div>
      </div>
      <div class="media-container-mobile">
        <h1>Media partners</h1>
        <swiper
          :modules="modules"
          :slides-per-view="swiperOptions.slidesPerView"
          :space-between="swiperOptions.spaceBetween"
          :autoplay="{
            delay: 1000,
            disableOnInteraction: false,
          }"
          class="mt-[1rem]"
        >
          <swiper-slide>
            <img src="../../assets/images/media/media1.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media2.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media3.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media4.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media5.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media6.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media7.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media8.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media9.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media10.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media11.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media12.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media13.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media14.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media15.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media16.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media17.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/media/media18.png" alt="" />
          </swiper-slide>
        </swiper>
      </div>
    </section>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import { Autoplay } from "swiper/modules";

import "swiper/css";
import "swiper/css/autoplay";

const modules = [Autoplay];

const swiperOptions = ref({
  slidesPerView: 4,
  spaceBetween: 40,
});
</script>

<style lang="scss" scoped>
#media {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 3.37rem;
  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #69eacb 0%, #eaccf8 48%, #6654f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  .media-container-mobile {
    display: none;
  }

  @media (max-width: 990px) {
    h1 {
      font-size: 1.875rem;
    }
    .media-container {
      display: none;
    }
    .media-container-mobile {
      margin-top: 2.31rem;
      display: block;
    }
  }
}
</style>
