<template>
  <div>
    <section id="news">
      <div class="news-container">
        <div class="flex items-center justify-between">
          <h1>news</h1>
          <p class="text-[1.125rem]">see all news & events</p>
        </div>
        <div
          class="flex justify-between mt-[2.89rem] gap-[2.42rem] news-content"
        >
          <div class="content">
            <img src="../../assets/images/news1.png" alt="" />
            <div>
              <p class="text-[1.25rem] font-semibold">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </p>
              <p>January 23, 2022</p>
            </div>
          </div>
          <div class="content">
            <img src="../../assets/images/news2.png" alt="" />
            <div>
              <p class="text-[1.25rem]">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </p>
              <p>April 03, 2022</p>
            </div>
          </div>
          <div class="content">
            <img src="../../assets/images/news3.png" alt="" />
            <div>
              <p class="text-[1.25rem]">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </p>
              <p>July 7, 2022</p>
            </div>
          </div>
        </div>
      </div>
      <div class="news-container-mobile">
        <div class="flex items-center justify-between">
          <h1>news</h1>
          <p class="text-[1.125rem]">see all news & events</p>
        </div>
        <swiper :slides-per-view="1" :space-between="50" class="swiper">
          <swiper-slide>
            <img src="../../assets/images/news-mobile.png" alt="" />
            <div>
              <h3>News</h3>
              <h2>Lorem ipsum dolor sit amet</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                crasolone accumsan suspendisse sagittis tempor ultricies non....
              </p>
              <a href="">Read more</a>
            </div>
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/news-mobile.png" alt="" />
            <div>
              <h3>News</h3>
              <h2>Lorem ipsum dolor sit amet</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                crasolone accumsan suspendisse sagittis tempor ultricies non....
              </p>
              <a href="">Read more</a>
            </div>
          </swiper-slide>
          <swiper-slide>
            <img src="../../assets/images/news-mobile.png" alt="" />
            <div>
              <h3>News</h3>
              <h2>Lorem ipsum dolor sit amet</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                crasolone accumsan suspendisse sagittis tempor ultricies non....
              </p>
              <a href="">Read more</a>
            </div>
          </swiper-slide>
        </swiper>
      </div>
    </section>
  </div>
</template>

<script setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import { Autoplay } from "swiper/modules";
import "swiper/css";
import "swiper/css/autoplay";
</script>

<style lang="scss" scoped>
#news {
  max-width: 100%;
  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #69eacb 0%, #eaccf8 48%, #6654f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    color: #fff;
    font-weight: 200;
  }

  .news-container {
    width: 90.5%;
    margin: 0 auto;
    .news-content {
      .content {
        border-radius: 1.25rem;
        // border: 1px solid #fff;

        background: linear-gradient(
          155deg,
          rgba(255, 255, 255, 0) -2.13%,
          rgba(255, 255, 255, 0.15) 136.58%
        );

        box-shadow: 0px 4px 49px 0px rgba(0, 7, 72, 0.12);
        backdrop-filter: blur(12.5px);

        div {
          padding: 1.25rem 0;
          p {
            max-width: 90%;
            margin: 0 auto;
          }
          p:nth-child(1) {
            font-weight: 400;
          }

          p:nth-child(2) {
            padding-top: 1.56rem;
          }
        }
      }
    }
  }

  .news-container-mobile {
    display: none;
  }

  @media (max-width: 990px) {

    h1 {
      font-size: 1.875rem
    }

    h2 {
      font-size: 1.25rem !important;
    }

    a {
      font-size: 0.875rem !important;
    }

    p, h3 {
      font-size: 1rem !important;
    }
    .news-container {
      display: none;
    }

    .news-container-mobile {
      display: block;
      width: 90%;
      margin: 0 auto;
      .swiper {
        img {
          width: 100%;
        }

        div {
          margin-top: 1.19rem;
          display: flex;
          flex-direction: column;
          gap: 1.06rem;
          h3 {
            color: #888;
            font-size: 1.875rem;
            font-weight: 400;
            text-transform: uppercase;
          }

          h2 {
            color: #f0f0f0;
            font-size: 2.25rem;
            font-weight: 600;
          }

          p {
            color: #dcdcdc;
            font-size: 1.125rem;
            font-weight: 400;
          }

          a {
            color: #888;
            font-size: 1.875rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    .news-container-mobile {
      div {
        margin-top: 1.19rem;
        display: flex;
        flex-direction: column;
        gap: 1.06rem;

        h1 {
          font-size: 1.875rem;
        }

        h3 {
          color: #888;
          font-size: 1rem !important;
          font-weight: 400;
          text-transform: uppercase;
        }

        h2 {
          color: #f0f0f0;
          font-size: 1.25rem !important;
          font-weight: 600;
        }

        p {
          color: #dcdcdc;
          font-size: 0.875rem !important;
          font-weight: 400;
        }

        a {
          color: #888;
          font-size: 0.875rem !important;
          font-weight: 400;
        }
      }
    }
  }
}
</style>
