<template>
  <div>
    <section id="roadmap">
      <h1>Roadmap</h1>
      <div class="roadmap-container flex justify-around">
        <div class="left flex flex-col">
          <div class="flex justify-around items-center left-content">
            <div>
              <img src="../../assets/images/roadmap1.png" alt="" />
              <h3>2nd Quarter / 2023</h3>
            </div>
            <div class="flex flex-col pr-[5.5rem] gap-[1.56rem]">
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Building Infrastructure</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Core team Development</p>
              </div>
            </div>
          </div>
          <div class="flex justify-around items-center left-content">
            <div>
              <img src="../../assets/images/roadmap3.png" alt="" />
              <h3>1th Quarter - 2024</h3>
            </div>
            <div class="flex flex-col gap-[0.5rem]">
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Presale phase 1</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>DEX Listing</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Token mining system launching</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Global partnerships</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>SocialFI platform launching phase 1</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Global Event Launching</p>
              </div>
            </div>
          </div>
          <div class="flex justify-around items-center left-content">
            <div>
              <img src="../../assets/images/roadmap5.png" alt="" />
              <h3>3rd Quarter, 2024</h3>
            </div>
            <div class="flex flex-col gap-[0.56rem]">
              <div class="flex items-center gap-[0.62rem]">
                <img
                  class="mb-[1.5rem]"
                  src="../../assets/images/tick.png"
                  alt=""
                />
                <p>
                  Integrate multi-platform payment gateway and international
                  payment.
                </p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img
                  class="mb-[1.5rem]"
                  src="../../assets/images/tick.png"
                  alt=""
                />
                <p>Integrate airline ticket and hotel booking worldwide.</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img
                  class="mb-[1.5rem]"
                  src="../../assets/images/tick.png"
                  alt=""
                />
                <p>Experience event for the application and travel with UCON</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Launching Ucon’s CEX exchange</p>
              </div>
            </div>
          </div>
        </div>
        <div class="mid">
          <div class="flex flex-col gap-[8.5rem] pt-[7rem]">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="right flex flex-col">
          <div class="flex justify-around items-center right-content">
            <div>
              <img src="../../assets/images/roadmap2.png" alt="" />
              <h3>3rd, 4th Quarter - 2023</h3>
            </div>
            <div class="flex flex-col gap-[0.69rem]">
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Project orientation Complete</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Complete Beta Test on app</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Finalize Tokenomics</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Market research</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Basic promoting activities</p>
              </div>
            </div>
          </div>
          <div class="flex justify-around items-center right-content">
            <div>
              <img src="../../assets/images/roadmap4.png" alt="" />
              <h3>2rd Quarter / 2024</h3>
            </div>
            <div class="flex flex-col gap-[0.81rem]">
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>CEX Listing</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Regional franchise partners execution</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>SocialFI phase 2 version - Launching event</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img
                  class="mb-[1.5rem]"
                  src="../../assets/images/tick.png"
                  alt=""
                />
                <p>Updgrading Application to connects business and users</p>
              </div>
            </div>
          </div>
          <div class="flex justify-around items-center right-content">
            <div>
              <img src="../../assets/images/roadmap6.png" alt="" />
              <h3>4th Quarter / 2024</h3>
            </div>
            <div class="flex flex-col gap-[1.56rem]">
              <div class="flex items-center gap-[0.62rem]">
                <img
                  class="mb-[1.5rem]"
                  src="../../assets/images/tick.png"
                  alt=""
                />
                <p>
                  Sponsor Fund for applications integrated UCON token or Ucon’s
                  API.
                </p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Launching SocialFI phase 3 version</p>
              </div>
              <div class="flex items-center gap-[0.62rem]">
                <img src="../../assets/images/tick.png" alt="" />
                <p>Ucon chain and applications launching</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="roadmap-container-mobile flex flex-col">
        <div class="content">
          <div class="content-image">
            <img src="../../assets/images/roadmap1.png" alt="" />
          </div>
          <div class="flex flex-col pr-[5.5rem] gap-[1.56rem]">
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Building Infrastructure</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Core team Development</p>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-image">
            <img src="../../assets/images/roadmap2.png" alt="" />
          </div>
          <div class="flex flex-col pr-[5.5rem] gap-[1.56rem]">
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Project orientation Complete</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Complete Beta Test on app</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Finalize Tokenomics</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Market research</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Basic promoting activities</p>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-image">
            <img src="../../assets/images/roadmap3.png" alt="" />
          </div>
          <div class="flex flex-col pr-[5.5rem] gap-[1.56rem]">
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Presale phase 1</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>DEX Listing</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Token mining system launching</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Global partnerships</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>SocialFI platform launching phase 1</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Global Event Launching</p>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-image">
            <img src="../../assets/images/roadmap4.png" alt="" />
          </div>
          <div class="flex flex-col pr-[5.5rem] gap-[1.56rem]">
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>CEX Listing</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Regional franchise partners execution</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>SocialFI phase 2 version - Launching event</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img
                class="mb-[1.5rem]"
                src="../../assets/images/tick.png"
                alt=""
              />
              <p>Updgrading Application to connects business and users</p>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-image">
            <img src="../../assets/images/roadmap5.png" alt="" />
          </div>
          <div class="flex flex-col pr-[5.5rem] gap-[1.56rem]">
            <div class="flex items-center gap-[0.62rem]">
              <img
                class="mb-[1.5rem]"
                src="../../assets/images/tick.png"
                alt=""
              />
              <p>
                Integrate multi-platform payment gateway and international
                payment.
              </p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img
                class="mb-[1.5rem]"
                src="../../assets/images/tick.png"
                alt=""
              />
              <p>Integrate airline ticket and hotel booking worldwide.</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img
                class="mb-[1.5rem]"
                src="../../assets/images/tick.png"
                alt=""
              />
              <p>Experience event for the application and travel with UCON</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Launching Ucon’s CEX exchange</p>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-image">
            <img src="../../assets/images/roadmap6.png" alt="" />
          </div>
          <div class="flex flex-col pr-[5.5rem] gap-[1.56rem]">
            <div class="flex items-center gap-[0.62rem]">
              <img
                class="mb-[1.5rem]"
                src="../../assets/images/tick.png"
                alt=""
              />
              <p>
                Sponsor Fund for applications integrated UCON token or Ucon’s
                API.
              </p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Launching SocialFI phase 3 version</p>
            </div>
            <div class="flex items-center gap-[0.62rem]">
              <img src="../../assets/images/tick.png" alt="" />
              <p>Ucon chain and applications launching</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped>
#roadmap {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 2.75rem;
  background-image: url("../../assets/images/roadmapbg.png");
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: 0.1875rem;
    background: linear-gradient(90deg, #69eacb 0%, #eaccf8 48%, #6654f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  h3 {
    margin-top: 0.63rem;
    color: #b425f7;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  p {
    font-size: 1.125rem;
    color: #fff;
    font-weight: 300;
  }

  .roadmap-container {
    width: 95%;
    margin: 0 auto;
    margin-top: 5.71rem;
    .left {
      gap: 8.25rem;
      .left-content {
        position: relative;
        padding: 1.5rem 1.75rem;
        gap: 5rem;
        border-radius: 0.4375rem;
        border: 1px solid #8500af;
        background: linear-gradient(
          50deg,
          rgba(90, 65, 189, 0.2) 14.98%,
          rgba(214, 41, 242, 0.2) 106.07%
        );
        backdrop-filter: blur(48.349998474121094px);
      }

      .left-content::after {
        content: "";
        width: 34%;
        height: 108%;
        border-top-right-radius: 0.4375rem;
        border-bottom-right-radius: 0.4375rem;
        border: 1px solid #8500af;
        border-left: none;
        position: absolute;
        right: -0.51rem;
      }

      .left-content:nth-child(2)::after {
        content: "";
        width: 34%;
        height: 108%;
      }

      .left-content:nth-child(3)::after {
        content: "";
        width: 34%;
        height: 108%;
      }

      .left-content:nth-child(3) {
        p {
          width: 21.375rem;
        }
      }
    }

    .mid {
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 0.25rem;
        height: 55.125rem;
        background: linear-gradient(
          64deg,
          #3f1bce 72.82%,
          rgba(214, 41, 242, 0.31) 108.24%
        );
        position: absolute;
        top: 10%;
        right: 1rem;
        z-index: -1;
      }

      span {
        display: block;
        width: 2.25rem;
        height: 2.25rem;
        background: #7a3cff;
        border-radius: 50%;
      }

      span:nth-child(odd)::before {
        content: "";
        display: block;
        width: 5.9375rem;
        height: 1px;
        border-top: 2px dotted black;
        background: #1480ff;
        position: absolute;
        z-index: -1;
        left: -5rem;
        margin-top: 1rem;
      }

      span:nth-child(even)::after {
        content: "";
        display: block;
        width: 5.9375rem;
        height: 1px;
        border-top: 2px dotted black;
        background: #1480ff;
        position: absolute;
        z-index: -1;
        right: -5rem;
        margin-top: 1rem;
      }
    }
    .right {
      gap: 8.25rem;
      margin-top: 10.67rem;
      .right-content {
        position: relative;
        padding: 1.5rem 1.75rem;
        gap: 2.5rem;
        border-radius: 0.4375rem;
        border: 1px solid #8500af;
        background: linear-gradient(
          -50deg,
          rgba(90, 65, 189, 0.2) 14.98%,
          rgba(214, 41, 242, 0.2) 106.07%
        );
        backdrop-filter: blur(48.349998474121094px);
      }

      .right-content::before {
        content: "";
        width: 34%;
        height: 108%;
        border-top-left-radius: 0.4375rem;
        border-bottom-left-radius: 0.4375rem;
        border: 1px solid #8500af;
        border-right: none;
        position: absolute;
        left: -0.51rem;
      }

      .right-content:nth-child(2) {
        p {
          width: 24.3125rem;
        }
      }

      .right-content:nth-child(3) {
        p {
          width: 22.75rem;
        }
      }
    }
  }

  .roadmap-container-mobile {
    display: none;
  }

  @media (max-width: 1600px) {
    .left {
      .left-content {
        width: 90%;
        margin: 0 auto;
      }
    }

    .mid {
      &:before {
        content: "" !important;
        top: 15% !important;
      }
      div {
        padding-top: 10rem;
      }
    }
    .right {
      .right-content {
        width: 90%;
        margin: 0 auto;
      }
    }
  }

  @media (max-width: 1440px) {
    .mid {
      div {
        padding-top: 11rem;
      }
    }
  }

  @media (max-width: 1199px) {
    .roadmap-container {
      .left {
        gap: 5.25rem;
        .left-content:nth-child(3) {
          p {
            width: 100%;
          }
        }
      }
      .right {
        gap: 5.25rem;
        .right-content:nth-child(2) {
          p {
            width: 100%;
          }
        }

        .right-content:nth-child(3) {
          p {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 1025px) {
    .roadmap-container {
      .left,
      .right {
        gap: 3.25rem;
      }

      .mid {
        div {
          padding-top: 13rem;
        }
      }
    }
  }

  @media (max-width: 990px) {

    h1 {
      font-size: 1.625rem;
    }

    p {
      font-size: 0.875rem;
    }
    .roadmap-container {
      display: none;
    }

    .roadmap-container-mobile {
      display: flex;
      align-items: center;
      gap: 2.12rem;
      width: 90%;
      margin: 0 auto;
      margin-top: 2.38rem;

      .content {
        width: 100%;
        position: relative;
        padding: 1.5rem 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.44rem;
        border-radius: 0.4375rem;
        border: 1px solid #8500af;
        background: linear-gradient(
          50deg,
          rgba(90, 65, 189, 0.2) 14.98%,
          rgba(214, 41, 242, 0.2) 106.07%
        );
        backdrop-filter: blur(48.349998474121094px);
      }

      .content:nth-child(odd)::after {
        content: "";
        width: 34%;
        height: 109%;
        border-top-right-radius: 0.4375rem;
        border-bottom-right-radius: 0.4375rem;
        border: 2px solid #8500af;
        border-left: none;
        position: absolute;
        right: -0.51rem;
      }

      .content:nth-child(even)::before {
        content: "";
        width: 34%;
        height: 109%;
        border-top-left-radius: 0.4375rem;
        border-bottom-left-radius: 0.4375rem;
        border: 2px solid #8500af;
        border-right: none;
        position: absolute;
        left: -0.51rem;
      }
    }
  }

  @media (max-width: 575px) {
    h1 {
      font-size: 1.875rem;
    }

    p {
      font-size: 0.875rem;
    }
    .roadmap-container-mobile {
      .content {
        flex-direction: column;
        align-items: start;

        .content-image {
          img {
            width: 50%;
          }
        }

        .flex {
          padding-right: unset;
        }
      }

      .content:nth-child(odd)::after {
        height: 105%;
      }

      .content:nth-child(even)::before {
        height: 105%;
      }
    }
  }
}
</style>
