<template>
  <div class="account">
    <HeaderActive>
      <template v-slot:referral>
        <router-link to="/referral-link" class="text-[#fff]"
          >Referral Link</router-link
        >
      </template>
      <template v-slot:account>
        <router-link to="/account" class="text-[#B625F9]">
          Account
        </router-link>
      </template>
      <template v-slot:text>
        <div @click="toggle">
          <img src="../assets/images/icon.svg" alt="" />
        </div>
      </template>
      <template v-slot:button>
        <div class="balance flex items-center justify-around">
          <p>0.00</p>
          <p>UCON</p>
        </div>
      </template>
      <template v-slot:logout>
        <div
          class="logout flex items-center justify-center gap-[0.5rem]"
          v-if="collapse"
        >
          <img src="../assets/images/logout.png" alt="" />
          <router-link to="/login"> Log out </router-link>
        </div>
      </template>
      <template v-slot:account-mobile>
        <router-link to="/account" class="text-[#B625F9]">
          Account
        </router-link>
      </template>
      <template v-slot:referral-mobile>
        <router-link to="/referral-link" class="text-[#fff]">
          Referral Link
        </router-link>
      </template>
      <template v-slot:connect-wallet>
        <router-link class="btn flex gap-[1rem]" to="/login">
          <img src="../assets/images/icon.svg" alt="" />
          Log out
        </router-link>
      </template>
    </HeaderActive>
    <div class="account-container">
      <div class="flex flex-col items-center gap-[1.12rem] content-1">
        <div class="avatar">
          <img src="../assets/images/avatar.png" alt="" />
          <img src="../assets/images/camera.png" alt="" />
        </div>
        <h3>N/A</h3>
        <div class="flex items-center gap-[1rem]">
          <img src="../assets/images/email.png" alt="" />
          <p>lduynguyen711@gmail.com</p>
        </div>
        <button class="flex items-center justify-center gap-[0.62rem]">
          <img src="../assets/images/qr.png" alt="" />
          Show QR
        </button>
      </div>
      <div class="content-2">
        <div class="flex gap-[0.56rem] wallet">
          <img src="../assets/images/wallet.png" alt="" />
          <h1>Wallet</h1>
        </div>
        <div class="input flex items-center gap-[1.31rem] mt-[0.56rem]">
          <input
            v-model="value"
            type="text"
            placeholder="0xd1aaa53373ff189d7a4ffef70b86e3f8505ab786"
          />
          <div class="buttons flex gap-[0.44rem]">
            <button
              @click="copy"
              class="flex items-center justify-center gap-[0.5rem]"
            >
              <img src="../assets/images/copy.png" alt="" />
              Copy Link
            </button>
            <Modal :modalActive="modalActive" @close-modal="modalToggle" class="popup">
              <p class="text-[1.875rem]">{{ text }}</p>
            </Modal>
            <button class="flex items-center justify-center gap-[0.5rem]">
              <img src="../assets/images/share.png" alt="" />
              Share
            </button>
          </div>
        </div>
        <div class="currency flex gap-[1.87rem] mt-[2rem]">
          <div class="currency-container">
            <div>
              <h3>Other Currencies</h3>
              <div
                class="flex justify-between text-[#B625F9] text-[1.5rem] font-[600]"
              >
                <p>0</p>
                <p>BNB</p>
              </div>
              <div class="flex justify-between text-[1.125rem] mt-[0.25rem]">
                <p>~ $0</p>
                <p>USD</p>
              </div>
            </div>
          </div>
          <div class="currency-container">
            <div>
              <h3 class="flex gap-[0.56rem]">
                <img src="../assets/images/ucon.png" alt="" />
                UCON Social (UCON)
              </h3>
              <div
                class="flex justify-between text-[#B625F9] text-[1.5rem] font-[600]"
              >
                <p>0</p>
                <p>UCON</p>
              </div>
              <div class="flex justify-between text-[1.125rem] mt-[0.25rem]">
                <p>~ $0</p>
                <p>USD</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-3">
        <div class="flex items-center gap-[0.56rem]">
          <img src="../assets/images/history.png" alt="" />
          <h1>Login History</h1>
        </div>
        <div class="flex flex-col gap-[0.75rem]">
          <div class="title flex pt-[1.44rem] pb-[2.38rem]">
            <h3>Hash</h3>
            <h3>Email</h3>
            <h3>Time</h3>
          </div>
          <div class="info flex justify-between">
            <p>0xd1aaa53373ff189d7a4ffef70b86e3f8505ab786</p>
            <p>lduynguyen711@gmail.com</p>
            <p>02/01/2024, 02:52:12</p>
          </div>
          <div class="info flex justify-between">
            <p>0xd1aaa53373ff189d7a4ffef70b86e3f8505ab786</p>
            <p>lduynguyen711@gmail.com</p>
            <p>02/01/2024, 02:52:12</p>
          </div>
          <div class="info flex justify-between">
            <p>0xd1aaa53373ff189d7a4ffef70b86e3f8505ab786</p>
            <p>lduynguyen711@gmail.com</p>
            <p>02/01/2024, 02:52:12</p>
          </div>
        </div>
      </div>
    </div>
    <div class="circlebg1">
      <img src="../assets/images/circle9.png" alt="" />
    </div>
    <div class="circlebg2">
      <img src="../assets/images/circle7.png" alt="" />
    </div>
    <Footer class="footer" />
  </div>
</template>

<script setup>
import HeaderActive from "../layouts/Header/HeaderActive.vue";
import Footer from "../layouts/Footer/Footer.vue";
import Modal from "../components/Modal.vue"
import { ref } from "vue";

const collapse = ref(false);

const toggle = () => {
  collapse.value = !collapse.value;
};

const value = ref("");

const text = ref(null);

const modalActive = ref(null);

const modalToggle = () => {
  modalActive.value = !modalActive.value
}

const copy = () => {
  navigator.clipboard.writeText(value.value);
  modalActive.value = !modalActive.value;
  text.value = value.value === "" ? "Please fill" : "Copied";
};

</script>

<style lang="scss" scoped>
.account {
  max-width: 100%;
  background-image: url("../assets/images/accountbg.png");
  background-repeat: no-repeat;
  position: relative;
  margin-top: 10.06rem;
  .balance {
    width: 12.375rem;
    height: 4rem;
    border-radius: 0.75rem;
    background: rgba(141, 141, 141, 0.29);
    box-shadow: 0px 0px 4px 0px rgba(188, 188, 188, 0.25);
    backdrop-filter: blur(18.799999237060547px);

    p {
      color: #fff;
      font-family: Montserrat;
      font-size: 1.25rem;
      font-style: italic;
      font-weight: 500;

      &:nth-child(2) {
        color: #b625f9;
        font-weight: 700;
      }
    }
  }

  .logout {
    padding: 0.81rem 3.5rem;
    border-radius: 4.5rem;
    background: linear-gradient(50deg, #bd4141 14.98%, #f22929 106.07%);
    box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
    position: absolute;
    right: 5rem;
    bottom: -4rem;
    cursor: pointer;
  }

  .account-container {
    max-width: 76%;
    margin: 0 auto;
    margin-top: 5.06rem;
    .content-1 {
      h3 {
        color: #fff;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-weight: 600;
      }

      p {
        color: #fff;
        font-family: Montserrat;
        font-size: 1.25rem;
        font-weight: 400;
      }
      .avatar {
        padding: 2.25rem;
        border: 1px solid #af30e0;
        background: #210347;
        width: 10.75rem;
        height: 10.75rem;
        border-radius: 50%;
        position: relative;

        img {
          &:nth-child(2) {
            position: absolute;
            right: 0;
          }
        }
      }

      button {
        padding: 1rem 5rem;
        border-radius: 4.5rem;
        border: 1px solid #fff;
        box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
        color: #fff;
        font-family: Montserrat;
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      button:hover {
        background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
        box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
      }
    }

    .content-2 {
      margin-top: 2.62rem;

      .wallet {
        h1 {
          font-size: 1.5rem;
          font-weight: 600;
          letter-spacing: 0.075rem;
          text-transform: uppercase;
          background: linear-gradient(
            90deg,
            #69eacb 0%,
            #eaccf8 48%,
            #6654f1 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      div {
        input {
          width: 39%;
          padding: 1.25rem 4.13rem 0.87rem 1.75rem;
          border-radius: 0.75rem;
          background: rgba(141, 141, 141, 0.29);
          box-shadow: 0px 0px 4px 0px rgba(188, 188, 188, 0.25);
          backdrop-filter: blur(18.799999237060547px);
          color: #fff;
          font-size: 1.25rem;
          font-weight: 400;
        }

        .buttons {
          button {
            width: 11.3125rem;
            height: 3.3125rem;
            flex-shrink: 0;
            border-radius: 4.5rem;
            background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
            box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
            color: #fff;
            font-size: 1.125rem;
            font-weight: 400;
          }
        }
      }

      .currency {
        .currency-container {
          width: 30%;
          color: #fff;
          padding: 0.88rem 1.81rem;
          flex-shrink: 0;
          border-radius: 1.375rem;
          border: 1px solid #8500af;
          background: linear-gradient(
            50deg,
            rgba(90, 65, 189, 0.2) 14.98%,
            rgba(214, 41, 242, 0.2) 106.07%
          );
          backdrop-filter: blur(44.29999923706055px);

          h3 {
            font-size: 1.375rem;
            font-style: italic;
            font-weight: 500;
            border-bottom: 1px solid #d629f2;
            padding-bottom: 0.69rem;
            margin-bottom: 0.69rem;
          }

          p {
          }
        }
      }
    }

    .content-3 {
      margin-top: 2.25rem;
      h1 {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        background: linear-gradient(
          90deg,
          #69eacb 0%,
          #eaccf8 48%,
          #6654f1 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      h3 {
        color: #a6a6a6;
        font-size: 1.125rem;
        font-weight: 400;
        letter-spacing: 0.01875rem;
      }

      p {
        color: #fff;
        font-size: 1.125rem;
        font-weight: 400;
      }

      .title {
        position: relative;
        h3 {
          &:nth-child(1) {
            position: absolute;
            left: 16%;
          }

          &:nth-child(2) {
            position: absolute;
            left: 56%;
          }

          &:nth-child(3) {
            position: absolute;
            right: 9%;
          }
        }
      }
      .info {
        padding: 1.69rem 4rem;
        border-radius: 0.75rem;
        background: rgba(62, 18, 96, 0.46);
        backdrop-filter: blur(15.899999618530273px);
      }
    }
  }

  .circlebg1,
  .circlebg2 {
    position: absolute;
  }

  .circlebg1 {
    top: 0;
    z-index: -999;
  }

  .circlebg2 {
    top: -20rem;
    right: 0;
    z-index: -999;
  }
  .btn {
    padding: 0.81rem 3.5rem;
    border-radius: 4.5rem;
    background: linear-gradient(50deg, #bd4141 14.98%, #f22929 106.07%);
    box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
  }
  .footer {
    position: static;
    margin-top: 4.19rem;
  }

  @media (max-width: 1199px) {
    .account-container {
      .content-2 {
        .currency {
          .currency-container {
            width: 39%;
          }
        }
      }

      .content-3 {
        .info {
          gap: 1rem;
        }
      }
    }
  }

  @media (max-width: 1025px) {
    .account-container {
      .content-2 {
        .currency-container {
          h3 {
            align-items: center;
          }
        }
      }
      .content-3 {
        p {
          overflow: hidden;
        }
      }
    }
  }

  @media (max-width: 990px) {
    .account-container {
      p,
      h3,
      button {
        font-size: 0.875rem !important;
      }

      h1 {
        font-size: 1.125rem !important;
      }
      .content-2 {
        .currency {
          .currency-container {
            width: 44%;
          }
        }
        .input {
          flex-direction: column;
          align-items: flex-start;

          input {
            width: 60%;
            font-size: 0.875rem;
            padding: 1.25rem 2.13rem 0.87rem 1.75rem;
          }
        }
      }
      .content-3 {
        padding: 0;
        .info {
          padding: 1.69rem 1.5rem;
          p {
            max-width: 50%;
            overflow: hidden;
          }
        }
      }
    }
    .circlebg1,
    .circlebg2 {
      z-index: -1;
    }
  }

  @media (max-width: 575px) {
    .account-container {
      max-width: 90%;
      .content-2 {
        .input {
          flex-direction: column;
          align-items: flex-start;
          input {
            width: 100%;
            font-size: 0.875rem;
          }

          .buttons {
            gap: 0.6rem;
            button {
              width: 100%;
            }
          }
        }

        .currency {
          flex-direction: column;

          .currency-container {
            width: 100%;
            h3 {
              align-items: center;
              font-size: 1rem;
            }
          }
        }
      }

      .content-3 {
        .info {
          p {
            font-size: 0.875rem;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .account-container {
      .content-2 {
        .input {
          .buttons {
            button {
              width: 80%;
            }
          }
        }
      }
    }
  }

  @media (max-width: 375px) {
    .account-container {
      .content-1 {
        div:nth-child(3) {
          flex-direction: column;
          gap: 1.12rem;
        }

        button {
          font-size: 1rem;
        }
      }
      .content-2 {
        .input {
          .buttons {
            flex-direction: column;

            button {
              width: 100%;
              padding: 0.87rem 5.87rem;
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}

.popup {
  position: absolute;
  left: 45%;
  top: 10%;
}
</style>
