<template>
  <div class="form">
    <HeaderActive>
      <template v-slot:referral>
        <a class="text-[#fff]" href="#">Referral Link</a>
      </template>
      <template v-slot:account>
        <a href="#" class="text-[#fff]"> Account </a>
      </template>
      <template v-slot:text>
        <img src="../assets/images/connect.png" alt="" />
        Connect Wallet
      </template>
      <template v-slot:account-mobile>
        <a href="#" class="text-[#fff]"> Account </a>
      </template>
      <template v-slot:referral-mobile>
        <a href="#" class="text-[#fff]"> Referral Link </a>
      </template>
      <template v-slot:connect-wallet>
        <router-link class="btn flex gap-[1rem]" to="/account">
          <img src="../assets/images/icon.svg" alt="" />
          Connect Wallet
        </router-link>
      </template>
    </HeaderActive>
    <form @submit.prevent class="flex flex-col gap-[1.44rem]">
      <div class="top flex flex-col gap-[1.44rem]">
        <h3>Sponsor</h3>
        <input type="text" placeholder="Your Refferrer’s Wallet Active" />
        <router-link to="/login" class="button">Active</router-link>
        <p>By continuing, you agree to our <span>Terms of Use</span></p>
      </div>
      <div class="down flex flex-col gap-[1.44rem]">
        <h1>NOTED:</h1>
        <p>
          - Wallet activation successful! If you can't log in to the
          marketplace, please wait 15 minutes for the bscscan network to confirm
          the transaction to log into the system
        </p>
        <p>
          - To activate account, you must pay an amount of
          <span>BNB</span> equivalent to <span>5$</span>
          (at current exchange rate)
        </p>
        <p>
          - Commission policy: If a member in your system activated his account
          successfully, you will receive the amount of
          <span>BNB</span> equivalent to <span>$2.5</span>
          (at current exchange rate)
        </p>
      </div>
    </form>
    <div class="circlebg1">
      <img src="../assets/images/circle8.png" alt="" />
    </div>
    <div class="circlebg2">
      <img src="../assets/images/circle7.png" alt="" />
    </div>
    <p class="mt-[1.69rem] text-center">
      Already have an account? <router-link to="/login">Login Now</router-link>
    </p>
    <Footer class="footer" />
  </div>
</template>

<script setup>
import HeaderActive from "../layouts/Header/HeaderActive.vue";
import Footer from "../layouts/Footer/Footer.vue";
import { useRouter } from "vue-router";
const router = useRouter();
router.afterEach(() => {});
</script>

<style lang="scss" scoped>
.form {
  background-image: url("../assets/images/activebg.png");
  background-repeat: no-repeat;
  position: relative;
  margin-top: 10.06rem;
  form {
    max-width: 33.5%;
    margin: 0 auto;
    margin-top: 4.06rem;
    padding: 2.56rem 2.06rem;
    border-radius: 2.5rem;
    border-top: 1.5px solid #db00ff;
    border-right: 1.5px solid #db00ff;
    border-bottom: 1.5px solid #db00ff;
    background: linear-gradient(
      105deg,
      rgba(43, 0, 135, 0) -3.07%,
      rgba(90, 12, 126, 0.38) 49.04%,
      rgba(0, 0, 0, 0.63) 97.84%
    );
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(319.8500061035156px);

    .top {
      max-width: 100%;
      h3 {
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
      }

      input {
        max-width: 100%;
        color: #a6a6a6;
        font-family: Montserrat;
        font-size: 1.125rem;
        font-style: italic;
        font-weight: 400;
        padding: 1.19rem 0 1.19rem 0.94rem;
        border-radius: 0.75rem;
        background: rgba(141, 141, 141, 0.29);
        box-shadow: 0px 0px 4px 0px rgba(188, 188, 188, 0.25);
        backdrop-filter: blur(18.799999237060547px);
      }

      .button {
        padding-top: 0.81rem;
        padding-bottom: 0.81rem;
        color: #fff;
        text-align: center;
        font-size: 1.125rem;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 4.5rem;
        border: 0.5px solid #fff;
        box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
      }

      .button:hover {
        border-radius: 4.5rem;
        background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
        box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
      }
      p {
        color: #fff;
        font-family: Poppins;
        font-size: 1.125rem;
        font-weight: 300;
        span {
          background: linear-gradient(
            90deg,
            #69eacb 71.2%,
            #eaccf8 85.02%,
            #6654f1 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 1.125rem;
          font-weight: 600;
          line-height: 1.625rem;
        }
      }
    }

    .down {
      h1 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        background: linear-gradient(
          90deg,
          #69eacb 0%,
          #eaccf8 48%,
          #6654f1 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        color: #fff;
        font-size: 1.125rem;
        font-weight: 300;

        &:nth-child(2) {
          color: #f6ce69;
        }

        span {
          font-weight: 600;
          &:nth-child(1) {
            background: linear-gradient(
              90deg,
              #69eacb 78.86%,
              #eaccf8 82.44%,
              #6654f1 86.32%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          &:nth-child(2) {
            background: linear-gradient(
              90deg,
              #69eacb 81.95%,
              #eaccf8 85.74%,
              #6654f1 89.84%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
  .circlebg1,
  .circlebg2 {
    position: absolute;
    z-index: -9999;
  }
  .circlebg1 {
    top: -5rem;
  }
  .circlebg2 {
    right: 0;
    top: -23rem;
  }

  p {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 400;
    a {
      background: linear-gradient(
        90deg,
        #69eacb 70.83%,
        #eaccf8 85.4%,
        #6654f1 101.19%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
    }
  }

  .btn {
    border-radius: 72px;
    background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
    box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
    padding: 0.94rem 1.25rem;
    color: #fff;
    font-size: 18px;
  }
  .footer {
    position: static;
    margin-top: 4.19rem;
  }

  @media (max-width: 1025px) {
    form {
      max-width: 90%;
    }
  }

  @media (max-width: 990px) {
    p {
      font-size: 0.875rem !important;
    }
    form {
      max-width: 90%;

      input {
        font-size: 0.875rem !important;
      }
    }
  }
}
</style>
