<template>
  <div>
    <Header />
    <HomeSection />
    <AboutSection />
    <MarketSection />
    <RoadmapSection />
    <EcoSection />
    <NewsSection />
    <CoreteamSection />
    <MediaSection />
    <ContactForm />
    <Footer />
  </div>
</template>

<script setup>
import Header from "../layouts/Header/Header.vue";
import Footer from "../layouts/Footer/Footer.vue";
import HomeSection from "../components/Sections/HomeSection.vue";
import AboutSection from "../components/Sections/AboutSection.vue";
import MarketSection from "../components/Sections/MarketSection.vue";
import RoadmapSection from "../components/Sections/RoadmapSection.vue";
import EcoSection from "../components/Sections/EcoSection.vue";
import NewsSection from "../components/Sections/NewsSection.vue";
import CoreteamSection from "../components/Sections/CoreteamSection.vue";
import MediaSection from "../components/Sections/MediaSection.vue";
import ContactForm from "../components/ContactForm.vue";
</script>

<style lang="scss" scoped></style>
