<template>
  <div class="login">
    <HeaderActive>
      <template v-slot:referral>
        <a class="text-[#fff]" href="#">Referral Link</a>
      </template>
      <template v-slot:account>
        <a href="#" class="text-[#fff]"> Account </a>
      </template>
      <template v-slot:text>
        <img src="../assets/images/connect.png" alt="" />
        Connect Wallet
      </template>
      <template v-slot:account-mobile>
        <a href="#" class="text-[#fff]"> Account </a>
      </template>
      <template v-slot:referral-mobile>
        <a href="#" class="text-[#fff]"> Referral Link </a>
      </template>
      <template v-slot:connect-wallet>
        <router-link class="btn flex gap-[1rem]" to="/account">
          <img src="../assets/images/icon.svg" alt="" />
          Connect Wallet
        </router-link>
      </template>
    </HeaderActive>
    <form @submit.prevent class="flex flex-col gap-[1.44rem]">
      <label class="flex flex-col gap-[1.44rem]" for="email">
        <h3>Email</h3>
        <input id="email" type="email" placeholder="Enter your email" />
      </label>
      <label class="flex flex-col gap-[1.44rem]" for="password">
        <h3>Password</h3>
        <input id="password" type="password" placeholder="Enter your password" />
      </label>
      <router-link to="/account" class="signin">Sign in</router-link>
      <p class="text-[#fff] text-[1.125rem] text-center">Or</p>
      <router-link
        to="/account"
        class="login-meta flex items-center justify-center gap-[0.88rem]"
      >
        <img src="../assets/images/metamask.png" alt="" />
        Login with meta mask
      </router-link>
    </form>
    <div class="circlebg1">
      <img src="../assets/images/circle8.png" alt="" />
    </div>
    <div class="circlebg2">
      <img src="../assets/images/circle7.png" alt="" />
    </div>
    <div class="term">
      <p class="pb-[1.44rem]">
        By continuing, you agree to our <span>Terms of Use</span>
      </p>
      <p class="pt-[1.44rem]">
        Don’t know where to start?
        <router-link to="/active"><span>Getting Stared</span></router-link>
      </p>
    </div>
    <Footer class="footer" />
  </div>
</template>

<script setup>
import HeaderActive from "../layouts/Header/HeaderActive.vue";
import Footer from "../layouts/Footer/Footer.vue";
</script>

<style lang="scss" scoped>
.login {
  background-image: url("../assets/images/activebg.png");
  background-repeat: no-repeat;
  position: relative;
  margin-top: 10.06rem;
  form {
    max-width: 33.5%;
    margin: 0 auto;
    margin-top: 4.06rem;
    padding: 2.56rem 2.06rem;
    border-radius: 2.5rem;
    border-top: 1.5px solid #db00ff;
    border-right: 1.5px solid #db00ff;
    border-bottom: 1.5px solid #db00ff;
    background: linear-gradient(
      105deg,
      rgba(43, 0, 135, 0) -3.07%,
      rgba(90, 12, 126, 0.38) 49.04%,
      rgba(0, 0, 0, 0.63) 97.84%
    );
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(319.8500061035156px);

    h3 {
      color: #fff;
      font-size: 1.125rem;
      font-weight: 500;
    }

    label {
      max-width: 100%;
      input {
        width: 100%;
        color: #a6a6a6;
        font-family: Montserrat;
        font-size: 1.125rem;
        font-style: italic;
        font-weight: 400;
        padding: 1.19rem 0 1.19rem 0.94rem;
        border-radius: 0.75rem;
        background: rgba(141, 141, 141, 0.29);
        box-shadow: 0px 0px 4px 0px rgba(188, 188, 188, 0.25);
        backdrop-filter: blur(18.799999237060547px);
      }
    }

    a {
      border-radius: 4.5rem;
      border: 1px solid var(--text-1, #fff);
      box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
      color: #fff;
      text-align: center;
      font-size: 1.125rem;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 0.81rem;
      padding-bottom: 0.81rem;
      cursor: pointer;
    }

    a:hover {
      background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
      box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
    }
    .login-meta {
      text-wrap: nowrap;
    }
  }
  .circlebg1,
  .circlebg2 {
    position: absolute;
    z-index: -9999;
  }
  .circlebg1 {
    top: -5rem;
  }
  .circlebg2 {
    right: 0;
    top: -23rem;
  }
  .term {
    max-width: 33.5%;
    margin: 0 auto;
    margin-top: 1.81rem;
    color: #fff;
    text-align: center;
    p {
      &:nth-child(2) {
        border-top: 1px solid rgba(170, 170, 170, 0.42);
      }
    }
    span {
      background: linear-gradient(
        90deg,
        #69eacb 71.2%,
        #eaccf8 85.02%,
        #6654f1 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.625rem;
    }
  }
  
  @media (max-width: 1025px) {
    form {
      max-width: 90%;
    }
  }

  @media (max-width: 990px) {
    p,
    a,
    span {
      font-size: 0.875rem !important;
    }
    form {
      input {
        font-size: 0.875rem !important;
      }
    }
  }

  @media (max-width: 321px) {
    form {
      .login-meta {
        gap: 0.5rem;
        img {
          width: 10%;
        }
      }
    }
  }
}

.btn {
  border-radius: 72px;
  background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
  box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
  padding: 0.94rem 1.25rem;
  color: #fff;
  font-size: 18px;
}
.footer {
  position: static;
  margin-top: 5.19rem;
}
</style>
