<template>
  <div class="referral">
    <HeaderActive>
      <template v-slot:referral>
        <router-link to="/referral-link" class="text-[#B625F9]"
          >Referral Link</router-link
        >
      </template>
      <template v-slot:account>
        <router-link to="/account" class="account text-[#fff]">
          Account
        </router-link>
      </template>
      <template v-slot:text>
        <div @click="toggle">
          <img src="../assets/images/icon.svg" alt="" />
        </div>
      </template>
      <template v-slot:button>
        <div class="balance flex items-center justify-around">
          <p>0.00</p>
          <p>UCON</p>
        </div>
      </template>
      <template v-slot:logout>
        <div
          class="logout flex items-center justify-center gap-[0.5rem]"
          v-if="collapse"
        >
          <img src="../assets/images/logout.png" alt="" />
          Log out
        </div>
      </template>
      <template v-slot:account-mobile>
        <router-link to="/account" class="text-[#fff]"> Account </router-link>
      </template>
      <template v-slot:referral-mobile>
        <router-link to="/referral-link" class="text-[#B625F9]">
          Referral Link
        </router-link>
      </template>
      <template v-slot:connect-wallet>
        <router-link class="btn flex gap-[1rem]" to="/login">
          <img src="../assets/images/icon.svg" alt="" />
          Log out
        </router-link>
      </template>
    </HeaderActive>
    <div class="referral-container">
      <div class="content-1">
        <div class="title flex items-center gap-[0.56rem]">
          <img src="../assets/images/link.png" alt="" />
          <h1>Referral link</h1>
        </div>
        <div class="input flex items-center gap-[1.31rem] mt-[0.56rem]">
          <input
            v-model="value"
            type="text"
            placeholder="marketplace.ucon.com/register?sponsor=0xd1aaa53373ff189d7a4ffef70b86e3f8505ab786"
          />
          <button
            @click="copy"
            class="flex items-center justify-center gap-[0.5rem]"
          >
            <img src="../assets/images/copy.png" alt="" />
            Copy Link
          </button>
          <Modal :modalActive="modalActive" @close-modal="modalToggle" class="popup">
            <p class="text-[1.875rem]">{{ text }}</p>
          </Modal>
        </div>
        <div class="flex justify-between gap-[1.88rem] mt-[2rem] content-grid">
          <div class="flex flex-col items-center gap-[1.31rem]">
            <p>Package purchase commission</p>
            <p>0 <span>UCON</span></p>
          </div>
          <div class="flex flex-col items-center gap-[1.31rem]">
            <p>Total Claim Commission</p>
            <p>0 <span>UCON</span></p>
          </div>
          <div class="flex flex-col items-center gap-[1.31rem]">
            <p>Total Pre Sales Commission</p>
            <p>0 <span>UCON</span></p>
          </div>
        </div>
        <div class="content-big flex flex-col gap-[3.12rem] mt-[1.88rem]">
          <p class="flex justify-between">Your Member<span>10</span></p>
          <p class="flex justify-between">Your Active Member<span>10</span></p>
          <p class="flex justify-between">
            Total Amount You Got<span>0.0025 UCON</span>
          </p>
          <p class="flex justify-between">
            Total Amount BNB You Got<span>~0 USDT</span>
          </p>
        </div>
      </div>
      <div class="content-2 mt-[1.75rem]">
        <div class="flex justify-between member">
          <div class="flex items-center gap-[0.56rem]">
            <img src="../assets/images/member.png" alt="" />
            <h1>Member</h1>
          </div>
          <div class="flex items-center gap-[1.31rem]">
            <input type="text" placeholder="Enter Wallet Address Here" />
            <button class="flex items-center justify-center gap-[0.5rem]">
              <img src="../assets/images/search.png" alt="" />
              Search
            </button>
          </div>
        </div>
        <div class="flex flex-col gap-[0.75rem] mt-[3.25rem]">
          <div class="title flex pt-[1.44rem] pb-[2.38rem]">
            <h3>Address Wallet</h3>
            <h3>Ref</h3>
            <h3>Registration Date</h3>
          </div>
          <div class="info flex justify-between">
            <p>0xd1aaa53373ff189d7a4ffef70b86e3f8505ab786</p>
            <p>lduynguyen711@gmail.com</p>
            <p>02/01/2024, 02:52:12</p>
          </div>
          <div class="info flex justify-between">
            <p>0xd1aaa53373ff189d7a4ffef70b86e3f8505ab786</p>
            <p>lduynguyen711@gmail.com</p>
            <p>02/01/2024, 02:52:12</p>
          </div>
          <div class="info flex justify-between">
            <p>0xd1aaa53373ff189d7a4ffef70b86e3f8505ab786</p>
            <p>lduynguyen711@gmail.com</p>
            <p>02/01/2024, 02:52:12</p>
          </div>
        </div>
      </div>
    </div>
    <div class="circlebg1">
      <img src="../assets/images/circle9.png" alt="" />
    </div>
    <div class="circlebg2">
      <img src="../assets/images/circle7.png" alt="" />
    </div>
    <div class="circlebg3">
      <img src="../assets/images/circle7.png" alt="" />
    </div>
    <Footer class="footer"></Footer>
  </div>
</template>

<script setup>
import HeaderActive from "../layouts/Header/HeaderActive.vue";
import Footer from "../layouts/Footer/Footer.vue";
import Modal from "../components/Modal.vue";
import { ref } from "vue";

const collapse = ref(false);

const toggle = () => {
  collapse.value = !collapse.value;
};

const value = ref("");

const text = ref(null);

const modalActive = ref(null);

const modalToggle = () => {
  modalActive.value = !modalActive.value
}

const copy = () => {
  navigator.clipboard.writeText(value.value);
  modalActive.value = !modalActive.value;
  text.value = value.value === "" ? "Please fill" : "Copied";
};
</script>

<style lang="scss" scoped>
.referral {
  max-width: 100%;
  background-image: url("../assets/images/accountbg.png");
  background-repeat: no-repeat;
  position: relative;
  margin-top: 10.06rem;

  .referral-container {
    max-width: 76%;
    margin: 0 auto;
    margin-top: 5.06rem;

    .content-1 {
      h1 {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        background: linear-gradient(
          90deg,
          #69eacb 0%,
          #eaccf8 48%,
          #6654f1 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      button {
        width: 11.3125rem;
        height: 3.3125rem;
        flex-shrink: 0;
        border-radius: 4.5rem;
        background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
        box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 400;
      }

      input {
        width: 39%;
        padding: 1.25rem 4.13rem 0.87rem 1.75rem;
        border-radius: 0.75rem;
        background: rgba(141, 141, 141, 0.29);
        box-shadow: 0px 0px 4px 0px rgba(188, 188, 188, 0.25);
        backdrop-filter: blur(18.799999237060547px);
        color: #fff;
        font-size: 1.25rem;
        font-weight: 400;
      }
      .content-grid {
        div {
          width: 33.3%;
          padding: 2.19rem 3.25rem;
          border-radius: 1.375rem;
          border: 1px solid #8500af;
          background: linear-gradient(
            50deg,
            rgba(90, 65, 189, 0.2) 14.98%,
            rgba(214, 41, 242, 0.2) 106.07%
          );
          backdrop-filter: blur(44.29999923706055px);
          p {
            color: #fff;
            font-size: 1.375rem;
            font-style: italic;
            font-weight: 500;

            &:nth-child(2) {
              color: #b625f9;
              font-size: 1.5rem;
              font-weight: 700;
            }
          }
        }
      }

      .content-big {
        width: 100%;
        padding: 1.62rem 4.63rem;
        border-radius: 1.375rem;
        border: 1px solid #8500af;
        background: linear-gradient(
          50deg,
          rgba(90, 65, 189, 0.2) 14.98%,
          rgba(214, 41, 242, 0.2) 106.07%
        );
        backdrop-filter: blur(44.29999923706055px);

        p {
          color: #fff;
          font-family: Poppins;
          font-size: 1.375rem;
          font-style: italic;
          font-weight: 500;

          span {
            color: #b625f9;
            font-size: 1.5rem;
            font-weight: 700;
          }
        }
      }
    }
    .content-2 {
      h1 {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        background: linear-gradient(
          90deg,
          #69eacb 0%,
          #eaccf8 48%,
          #6654f1 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      h3 {
        color: #a6a6a6;
        font-size: 1.125rem;
        font-weight: 400;
        letter-spacing: 0.01875rem;
      }

      p {
        color: #fff;
        font-size: 1.125rem;
        font-weight: 400;
      }

      input {
        border-radius: 0.75rem;
        background: rgba(141, 141, 141, 0.29);
        box-shadow: 0px 0px 4px 0px rgba(188, 188, 188, 0.25);
        backdrop-filter: blur(18.799999237060547px);
        color: #a6a6a6;
        font-size: 1.25rem;
        font-style: italic;
        font-weight: 400;
        padding: 1.06rem 7.31rem 1.06rem 1.75rem;
      }

      button {
        width: 11.3125rem;
        height: 3.3125rem;
        flex-shrink: 0;
        border-radius: 4.5rem;
        background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
        box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 400;
      }

      .title {
        position: relative;
        h3 {
          &:nth-child(1) {
            position: absolute;
            left: 14%;
          }

          &:nth-child(2) {
            position: absolute;
            left: 57%;
          }

          &:nth-child(3) {
            position: absolute;
            right: 5%;
          }
        }
      }
      .info {
        padding: 1.69rem 4rem;
        border-radius: 0.75rem;
        background: rgba(62, 18, 96, 0.46);
        backdrop-filter: blur(15.899999618530273px);
      }
    }
  }

  .circlebg1,
  .circlebg2,
  .circlebg3 {
    position: absolute;
    z-index: -999;
  }

  .circlebg1 {
    top: 0;
  }

  .circlebg2 {
    top: -20rem;
    right: 0;
  }

  .circlebg3 {
    bottom: 0;
    right: 0;
  }
  .balance {
    width: 12.375rem;
    height: 4rem;
    border-radius: 0.75rem;
    background: rgba(141, 141, 141, 0.29);
    box-shadow: 0px 0px 4px 0px rgba(188, 188, 188, 0.25);
    backdrop-filter: blur(18.799999237060547px);

    p {
      color: #fff;
      font-family: Montserrat;
      font-size: 1.25rem;
      font-style: italic;
      font-weight: 500;

      &:nth-child(2) {
        color: #b625f9;
        font-weight: 700;
      }
    }
  }

  .btn {
    padding: 0.81rem 3.5rem;
    border-radius: 4.5rem;
    background: linear-gradient(50deg, #bd4141 14.98%, #f22929 106.07%);
    box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
  }
  .footer {
    position: static;
    margin-top: 4.19rem;
  }

  @media (max-width: 1199px) {
    .referral-container {
      .content-2 {
        .info {
          gap: 1rem;
        }
      }
    }
  }

  @media (max-width: 1025px) {
    .referral-container {
      .content-2 {
        p {
          overflow: hidden;
        }
      }
    }
  }

  @media (max-width: 990px) {
    p,
    h3,
    button,
    input {
      font-size: 0.875rem !important;
    }
    span {
      font-size: 1rem;
    }
    h1 {
      font-size: 1.125rem !important;
    }
    .referral-container {
      max-width: 90%;
      .content-1 {
        .content-grid {
          div {
            align-items: flex-start;
          }
        }

        .content-big {
          padding: 1.62rem 3.63rem;
          span {
            font-size: 1.125rem !important;
          }
        }
      }
      .content-2 {
        .member {
          flex-direction: column;
          gap: 1rem;

          input {
            width: 90% !important;
          }
        }
        .info {
          padding: 1.69rem 1.5rem;
          p {
            max-width: 50%;
            overflow: hidden;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .referral-container {
      .content-1 {
        div:nth-child(3) {
          flex-direction: column;
          div {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    .referral-container {
      .content-1 {
        .content-big {
          gap: 2.12rem;
          p {
            flex-direction: column;
            span {
              font-size: 1.125rem;
            }
          }
        }
      }
      .content-2 {
        .member {
          input {
            width: 100% !important;
            padding: 1.06rem 1.31rem 1.06rem 1.75rem;
          }

          div:nth-child(2) {
            flex-direction: column;
            align-items: flex-start;

            button {
              width: 100%;
            }
          }
        }

        .title {
          h3 {
            &:nth-child(1) {
              left: 5%;
            }

            &:nth-child(2) {
              left: 51%;
            }

            &:nth-child(3) {
              right: 0;
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .referral-container {
      .content-1 {
        .input {
          flex-direction: column;
          align-items: flex-start;
          input {
            width: 100%;
          }

          button {
            width: 100%;
          }
        }

        .content-grid {
          div {
            align-items: flex-start;
          }
        }

        .content-big {
          padding: 1.62rem 2.63rem;
        }
      }

      .content-2 {
        .member {
          input {
            width: 100%;
          }
        }
      }
    }
  }
}

.popup {
  position: absolute;
  left: 45%;
  top: 10%;
  z-index: 9999;
}
</style>
