<template>
  <div class="container">
    <form
      @submit.prevent
      class="flex items-center justify-around gap-[8.69rem]"
    >
      <div class="left flex flex-col items-center">
        <h1>Contact us</h1>
        <p>No matter where you are, anytime</p>
        <p>For any inquiries or assistance, feel free to reach out to us:</p>
        <p>Email: [YourEmail@example.com]</p>
        <p>Phone: [+YourPhoneNumber]</p>
      </div>
      <div class="right flex flex-col gap-[1.25rem]">
        <label for="email">
          <input id="email" type="email" placeholder="Email" />
        </label>
        <label for="phone">
          <input id="phone" type="text" placeholder="Phone" />
        </label>
        <button>Send</button>
      </div>
    </form>
    <div class="backtotop flex items-center justify-center" @click="top()">
      <img src="../assets/images/arrowup.png" alt="" />
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";

const top = () => {
  window.scrollTo({
    top: 0,
    behavior: "smooth",
  });
};
</script>

<style lang="scss" scoped>
.container {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10.58rem;
  position: relative;
  form {
    width: 75%;
    margin: 0 auto;
    position: relative;
    padding: 2.5rem 6.3rem;
    border-radius: 2.5rem;
    border-top: 1.5px solid #db00ff;
    border-right: 1.5px solid #db00ff;
    border-bottom: 1.5px solid #db00ff;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(319.8500061035156px);

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 0.1875rem;
      text-transform: uppercase;
      background: linear-gradient(90deg, #69eacb 0%, #eaccf8 48%, #6654f1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 1.125rem;
      font-weight: 200;
      color: #fff;
    }

    .left {
      width: 43.8%;
      text-align: center;
    }

    .right {
      input {
        border-radius: 0.75rem;
        background: rgba(141, 141, 141, 0.29);
        box-shadow: 0px 0px 4px 0px rgba(188, 188, 188, 0.25);
        backdrop-filter: blur(18.799999237060547px);
        color: #a6a6a6;
        font-size: 1.125rem;
        font-style: italic;
        font-weight: 300;
        width: 36.8125rem;
        padding: 1.19rem 1.3rem
      }

      button {
        padding: 0.81rem 7.2rem;
        border-radius: 4.5rem;
        border: 1px solid #fff;
        box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
        color: #fff;
        text-align: center;
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        width: 50%;
        transition: 0.2s;
      }

      button:hover {
        border-radius: 4.5rem;
        background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
        box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
      }
    }
  }

  .backtotop {
    width: 4.15138rem;
    height: 4.15138rem;
    border-radius: 0.25rem;
    background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
    box-shadow: 0px 2px 6.8px 3px rgba(222, 17, 255, 0.25) inset;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    bottom: 6rem;
  }

  @media (max-width: 1199px) {
    form {
      flex-direction: column;
      gap: 1.25rem;

      .left {
        width: 100%;
      }

      .right {
        align-items: center;
      }
    }
  }

  @media (max-width: 990px) {
    margin-top: 5.58rem;
    h1 {
      font-size: 1.875rem !important;
    }

    p {
      font-size: 0.875rem !important;
    }
    .right {
      input {
        width: 100% !important;
        // padding: 1.19rem 12.44rem 1.19rem 1.3rem !important;
      }

      button {
        width: 100% !important;
      }
    }
    .backtotop {
      bottom: -15rem;
      width: 3rem;
      height: 3rem;
    }
  }

  @media (max-width: 575px) {
    form {
      width: 90%;
      padding: 2.5rem 2.3rem;
      button {
        max-width: 100% !important;
      }
      .right {
        input {
          padding: 1.19rem 1.44rem 1.19rem 1.3rem !important;
        }

        button {
          padding: 0.81rem 4.2rem;
        }
      }
    }
  }

  @media (max-width: 321px) {
    margin-top: 3.58rem;
  }
}
</style>
