<template>
  <transition name="fade">
    <div v-show="modalActive" class="relative w-100">
      <div
        v-if="modalActive"
        class="modal bg-white"
      >
        <slot></slot>
        <button
          class="text-[##000] bg-weather-primary"
          @click="$emit('close-modal')"
        >
          Close
        </button>
      </div>
    </div>
  </transition>
</template>

<script setup>
defineEmits(["close-modal"]);
defineProps({
  modalActive: {
    type: Boolean,
    default: false,
  },
});
</script>

<style lang="scss" scoped>
.modal {
  width: 13rem;
  color: #fff;
  padding: 0.88rem 1.81rem;
  flex-shrink: 0;
  border-radius: 1.375rem;
  border: 1px solid #8500af;
  background: linear-gradient(
    50deg,
    rgba(90, 65, 189, 0.2) 14.98%,
    rgba(214, 41, 242, 0.2) 106.07%
  );
  -webkit-backdrop-filter: blur(44.2999992371px);
  backdrop-filter: blur(44.2999992371px);
  text-align: center;

  button {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 1.375rem;
    font-size: 1.125rem;

  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
