<template>
  <header :class="{ header: true, 'background-blur': menuMobile }">
    <div class="header-container flex justify-between items-center">
      <img class="logo" src="../../assets/images/Logo.png" alt="" />
      <div class="menu flex">
        <router-link to="/">Home</router-link>
        <a href="/">About</a>
        <a href="/" class="flex">
          Ecosystem
          <img src="../../assets/images/arrowdown.svg" alt="" />
        </a>
        <a href="/">Market</a>
        <a href="/" class="flex gap-1">
          Document
          <img src="../../assets/images/arrowdown.svg" alt="" />
        </a>
        <a href="/">Blog</a>
      </div>
      <div class="buttons flex">
        <button class="btn-1 flex items-center justify-center">
          <div class="flex items-center">
            <img src="../../assets/images/English.png" alt="" />
            English
          </div>
          <img src="../../assets/images/arrowdown.svg" alt="" />
        </button>
        <router-link
          to="/active"
          class="btn-2 flex items-center justify-center gap-1"
        >
          <img src="../../assets/images/icon.svg" alt="" />
          Join
        </router-link>
      </div>
      <img
        class="menu-mobile-icon"
        src="../../assets/images/mobile-menu.png"
        alt=""
        @click="toggle"
      />
    </div>
  </header>
  <transition>
    <div class="menu-mobile" v-if="menuMobile">
      <div class="menu flex">
        <a href="/">Home</a>
        <a href="/">About</a>
        <a href="/" class="flex">
          Ecosystem
          <img src="../../assets/images/arrowdown.svg" alt="" />
        </a>
        <a href="/">Market</a>
        <a href="/" class="flex gap-1">
          Document
          <img src="../../assets/images/arrowdown.svg" alt="" />
        </a>
        <a href="/">Blog</a>
      </div>
      <div class="buttons flex">
        <button class="btn-1 flex items-center justify-center">
          <div class="flex items-center">
            <img src="../../assets/images/English.png" alt="" />
            English
          </div>
          <img src="../../assets/images/arrowdown.svg" alt="" />
        </button>
        <button class="btn-2 flex items-center justify-center gap-1">
          <img src="../../assets/images/icon.svg" alt="" />
          <router-link to="/active"> Join </router-link>
        </button>
      </div>
    </div>
  </transition>
</template>

<script setup>
import { ref, onBeforeUnmount, computed } from "vue";
import { useRouter } from "vue-router";
const router = useRouter();

const menuMobile = ref(false);
const toggle = () => {
  menuMobile.value = !menuMobile.value;
  document.body.style.overflow = menuMobile.value ? "hidden" : "";
};

const headerClasses = computed(() => ({
  header: true,
  "background-blur": menuMobile.value,
}));

const clearOverflow = () => {
  document.body.style.overflow = "visible";
};

onBeforeUnmount(() => {
  clearOverflow();
});
</script>

<style lang="scss" scoped>
header {
  max-width: 100%;
  width: 100%;
  padding: 1rem 5.37rem;
  gap: 11.81rem;
  border-bottom: 1px solid var(--stroke, rgba(170, 170, 170, 0.42));
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(24.75px);
  position: fixed;
  top: 0;
  z-index: 99999;

  .menu-mobile-icon {
    display: none;
  }

  a {
    color: #fff;
    font-weight: 400;
  }

  .header-container {
    .menu {
      gap: 3.88rem;
      font-size: 18px;

      a {
        &:first-child {
          color: #B625F9;
        }
      }
    }

    .buttons {
      gap: 1.06rem;

      .btn-1 {
        gap: 2.19rem;
        border-radius: 3px;
        border: 1px solid var(--stroke, rgba(170, 170, 170, 0.42));
        background: rgba(177, 177, 177, 0.07);
        padding: 0.72rem 0.94rem;
        flex-shrink: 0;
        color: #fff;
        text-transform: uppercase;

        div {
          gap: 0.56rem;
        }
      }

      .btn-2 {
        border-radius: 72px;
        background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
        box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
        padding: 0.78rem 2.38rem;
        color: #fff;
        font-size: 18px;
      }
    }
  }

  @media (max-width: 1600px) {
    padding: 1rem 4.37rem;
    .header-container {
      gap: 1rem;
    }
  }

  @media (max-width: 1440px) {
    .header-container {
      .menu {
        gap: 2.88rem;
      }
    }
  }

  @media (max-width: 1199px) {
    max-width: 100%;
    padding: 1rem 1rem;
    .header-container {
      .menu {
        gap: 1.88rem;
        font-size: 16px;
      }
    }
  }

  @media (max-width: 1025px) {
    .header-container {
      .menu {
        display: none;
      }

      .buttons {
        display: none;
      }

      .menu-mobile-icon {
        display: block;
      }
    }
  }

  @media (max-width: 990px) {
    .header-container {
    }
    max-width: 100%;
    .menu {
      display: none;
    }

    .buttons {
      display: none;
    }

    .menu-mobile-icon {
      display: block;
    }
  }
}

.menu-mobile {
  width: 100%;
  height: 100%;
  background: rgba(10, 4, 13, 0.83);
  backdrop-filter: blur(7.650000095367432px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.88rem;
  position: fixed;
  top: 93px;
  z-index: 99999;
  .menu {
    margin-top: -10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.88rem;
    color: #fff;
  }

  .buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.88rem;
    color: #fff;

    .btn-1 {
      gap: 2.19rem;
      border-radius: 3px;
      border: 1px solid var(--stroke, rgba(170, 170, 170, 0.42));
      background: rgba(177, 177, 177, 0.07);
      width: 201px;
      height: 53px;
      flex-shrink: 0;
      color: #fff;
      text-transform: uppercase;

      div {
        gap: 0.56rem;
      }
    }

    .btn-2 {
      border-radius: 72px;
      background: linear-gradient(50deg, #5a41bd 14.98%, #d629f2 106.07%);
      box-shadow: 0px 2px 11.6px 1px rgba(176, 176, 176, 0.25) inset;
      width: 147px;
      height: 53px;
      color: #fff;
      font-size: 18px;
    }
  }

  @media (max-width: 990px) {
    padding-top: 3rem;
    gap: 2.88rem;
    .menu,
    .buttons {
      gap: 1.88rem;
    }
  }
}

.background-blur {
  background: rgba(10, 4, 13, 0.83);
  border: none;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
