<template>
  <footer>
    <div class="footer-container flex justify-between">
      <div class="left flex flex-col gap-[1.75rem]">
        <div class="flex gap-[3rem] text-nowrap">
          <a href="">White Paper</a>
          <a href="">UCON Token</a>
          <a href="">Terms of Service</a>
          <a href="">Privacy Policy</a>
        </div>
        <div class="flex items-center gap-[2.25rem]">
          <img src="../../assets/images/Logo.png" alt="" />
          <img src="../../assets/images/Telegram.png" alt="" />
          <img src="../../assets/images/Facebook.png" alt="" />
          <img src="../../assets/images/Youtube.png" alt="" />
        </div>
        <div>
          <p>© 2024, UCON. All rights reserved.</p>
        </div>
      </div>
      <div class="mid">
        <div class="flex items-center gap-[1.25rem]">
          <img src="../../assets/images/rect.png" alt="" />
          <h3>Menu</h3>
        </div>
        <div class="mt-[1.75rem] flex gap-[3.44rem] mid-content">
          <div class="flex flex-col gap-[1.75rem]">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Ecosystem</a>
          </div>
          <div class="flex flex-col gap-[1.75rem]">
            <a href="">Market</a>
            <a href="">Document</a>
            <a href="">Blog</a>
          </div>
        </div>
      </div>
      <div class="right flex flex-col gap-[1.75rem]">
        <div class="flex items-center gap-[1.25rem]">
          <img src="../../assets/images/rect.png" alt="" />
          <h3>Contact Us</h3>
        </div>
        <div>
          <p>
            Enterprise Service <br />
            Management PTE. LTD
          </p>
        </div>
        <div>
          <p class="pt-[1.75rem]">support@ucon.social</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script setup></script>

<style lang="scss" scoped>
footer {
  margin-top: -3rem;
  position: relative;
  z-index: -1;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    rgba(64, 11, 131, 0.6);
  backdrop-filter: blur(7px);
  padding: 4.75rem 5.69rem 3.06rem 5.37rem;
  .footer-container {
    max-width: 100%;
    margin: 0 auto;

    a {
      color: #f0f0f0;
      font-size: 1.125rem;
      font-weight: 300;
    }

    h3 {
      color: #f8f8f8;
      font-size: 1.125rem;
    }

    p {
      color: #dcdcdc;
      font-size: 0.9375rem;
      font-weight: 400;
    }

    .left {
      a {
        display: flex;
        position: relative;
        &:not(:last-child) {
          &::after {
            content: "";
            width: 2px;
            height: 1rem;
            background: #fff;
            position: absolute;
            right: -1.5rem;
            bottom: 0.2rem;
          }
        }
      }

      div {
        &:nth-child(2) {
          padding-top: 1.75rem;
          border-top: 1px solid rgba(218, 218, 218, 0.2);
        }
      }
    }

    .right {
      p {
        font-size: 1.125rem;
      }

      div {
        &:nth-child(3) {
          &::before {
            content: "";
            display: block;
            width: 2.8125rem;
            height: 0.5px;
            background: #dcdcdc;
          }
        }
      }
    }
  }

  @media (max-width: 1199px) {
    .footer-container {
      .left {
        a {
          &:not(:last-child) {
            &::after {
              content: "";
              display: none;
            }
          }
        }

        div {
          gap: 1rem;
        }
      }

      .mid {
        .mid-content {
          gap: 1.44rem;
        }
      }
    }
  }

  @media (max-width: 1025px) {
    .footer-container {
      h3,
      a,
      p {
        font-size: 0.875rem !important;
      }
      flex-direction: column-reverse;
      gap: 1.5rem;

      .left {
        div {
          gap: 3rem;
          a {
            &:not(:last-child) {
              &::after {
                content: "";
                display: block;
              }
            }
          }
        }
      }
      .mid {
        order: 1;

        .mid-content {
          gap: 5.44rem;
        }
      }

      .right {
        br {
          display: none;
        }

        div:nth-child(3) {
          p {
            padding-top: 0.12rem;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .footer-container {
      .left {
        div:nth-child(1) {
          flex-wrap: wrap;
          row-gap: 1rem;
        }
      }
    }
  }

  @media (max-width: 575px) {
    padding-left: 1.37rem;
    .footer-container {
      .left {
        div:nth-child(2) {
          gap: 2rem;
          img {
            width: 10%;
          }
          img:nth-child(1) {
            width: 80%;
          }
        }
      }
    }
  }

  @media (max-width: 430px) {
    .footer-container {
      .left {
        div:nth-child(2) {
          gap: 1rem;
          img {
            width: 10%;
          }
          img:nth-child(1) {
            width: 70%;
          }
        }
      }
    }
  }
}
</style>
